body,
.body {
  background-color: #cccccc;
}
table {
  border: 0px none!important;
  border-collapse: collapse;
}
hr {
  border: 1px solid #eee !important;
}
a {
  font-weight: bold;
  color: #004a80;
}
.wrapper-table {
  background: #eeeeee;
  color: #666666;
  font-family: 'Lucida Grande', Arial, sans-serif;
}
.logo-wrap {
  border-top: 5px solid #004a80;
  border-bottom: 2px solid #dddddd;
  background-color: #ffffff;
  text-align: center;
}
.logo {
  float: left;
}
.sec-logo {
  float: right;
}
h1 {
  text-align: center;
  font-size: 21px;
  padding: 0 80px;
  margin-bottom: 30px;
}
.head-table {
  text-align: center;
  color: #004a80;
}
table.shipment-info {
  background: #ffffff;
  border-color: 1px solid #68080c !important;
  width: 100%;
  font-family: 'Lucida Grande', Arial, sans-serif;
}
table.shipment-info .td-header {
  border-bottom: 1px solid #cccccc;
  background-color: #004a80;
}
table.shipment-info th {
  height: 36px;
  font-size: 12px;
  background-color: #d2d2d2;
  border-bottom: 1px solid #cccccc;
}
table.shipment-info h2 {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  line-height: 40px;
  margin: 0px;
}
table.shipment-info td {
  padding: 0 10px;
  font-size: 13px;
  height: 30px;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}
table.shipment-info td:last-child {
  border-right: none;
}
table.shipment-info tr:last-child td {
  border-bottom: 0px;
}
.hello-receiver {
  font-weight: bold;
}
ol {
  font-size: 15px;
}
ol li {
  line-height: 26px;
}
.list-head {
  font-weight: bold;
  line-height: 40px;
}
.list {
  color: #000;
  list-style: none;
  margin: 0;
  padding: 5px 0 0;
  background: #ffffff;
}
.list li {
  color: #666666;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  border-bottom: 1px dashed #eee;
  margin-top: 5px;
}
.list li span {
  display: inline-block;
  width: 300px;
}
.info-box {
  background: #004a80;
  border: 1px solid #004171;
  color: #ffffff;
  padding: 15px 15px 30px 15px;
  font-size: 13px;
}
.info-box h4 {
  margin-bottom: 0px;
  border-bottom: 2px solid #003b67;
  padding-bottom: 10px;
  font-size: 15px;
}
.footer {
  background: #555555;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}
.footer p {
  margin: 0 50px 10px;
  line-height: 20px;
}
.footer .do-not-reply {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #484848;
  font-size: 10px;
  text-align: center;
}
