body,
.body {
  background-color: #cccccc;
}
table {
  border: 0px none!important;
  border-collapse: collapse;
}
hr {
  border: 1px solid #eee !important;
}
a {
  font-weight: bold;
  color: #CC0000;
}
.wrapper-table {
  background: #ffffff;
  color: #666666;
  font-family: Tahoma, Geneva, sans-serif;
}
.logo-wrap {
  background-color: #FFCC00;
  border-bottom: 3px solid #CC0000;
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 21px;
  padding: 0 80px;
  margin-bottom: 30px;
}
.shipment-info {
  background: #eeeeee;
  border-color: 1px solid #cccccc !important;
  width: 100%;
  font-family: Tahoma, Geneva, sans-serif;
}
.shipment-info .td-header {
  border-bottom: 2px solid #e2e2e2;
  background-color: #FFCC00;
}
.shipment-info h2 {
  text-align: center;
  font-size: 18px;
  color: #CC0000;
  line-height: 40px;
  margin: 0px;
}
.shipment-info td {
  padding: 0 10px;
  font-size: 13px;
  height: 30px;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}
.shipment-info td:last-child {
  border-right: none;
}
.shipment-info tr:last-child td {
  border-bottom: 0px;
}
.hello-receiver {
  font-weight: bold;
  font-style: italic;
}
.list-head {
  font-weight: bold;
  line-height: 40px;
}
.list {
  color: #000;
  list-style: none;
  margin: 0;
  padding: 0;
}
.list li {
  color: #666666;
  font-size: 15px;
  height: 25px;
  border-bottom: 1px dashed #eee;
  margin-top: 5px;
}
.list li span {
  display: inline-block;
  width: 300px;
}
.info-box {
  background: #ffe066;
  border: 1px solid #f0c000;
  color: #CC0000;
  padding: 15px 15px 15px 15px;
  font-size: 13px;
}
.info-box h4 {
  margin-bottom: 0px;
  border-bottom: 1px solid #f0c000;
  padding-bottom: 10px;
  font-size: 15px;
}
.footer {
  border-top: 3px solid #CC0000;
  background: #FFCC00;
  color: #333333;
  font-size: 13px;
  text-align: center;
}
.footer p {
  margin: 0 50px 10px;
  line-height: 20px;
}
.footer .do-not-reply {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #f0c000;
  background: #FFCC00;
  font-size: 10px;
  text-align: center;
}
