@font-face {
	font-family: 'wkfont';
	src:url('fonts/wkfont.eot?sc6zey');
	src:url('fonts/wkfont.eot?#iefixsc6zey') format('embedded-opentype'),
		url('fonts/wkfont.woff?sc6zey') format('woff'),
		url('fonts/wkfont.ttf?sc6zey') format('truetype'),
		url('fonts/wkfont.svg?sc6zey#wkfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

.wk-icon {
	font-family: 'wkfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wk-icon_bungee:before {
	content: "\e627";
}

.wk-icon_cycle:before {
	content: "\e628";
}

.wk-icon_hunt:before {
	content: "\e629";
}

.wk-icon_mount2:before {
	content: "\e62a";
}

.wk-icon_scooba:before {
	content: "\e62b";
}

.wk-icon_surf:before {
	content: "\e62c";
}

.wk-icon_trek2:before {
	content: "\e62d";
}

.wk-icon_dropdown:before {
	content: "\e626";
}

.wk-icon_compare:before {
	content: "\e624";
}

.wk-icon_heart:before {
	content: "\e625";
}

.wk-icon_eye:before {
	content: "\e621";
}

.wk-icon_faq:before {
	content: "\e622";
}

.wk-icon_note:before {
	content: "\e623";
}

.wk-icon_setting:before {
	content: "\e620";
}

.wk-icon_fax:before {
	content: "\e61d";
}

.wk-icon_mail:before {
	content: "\e61e";
}

.wk-icon_skype:before {
	content: "\e61f";
}

.wk-icon_add:before {
	content: "\e619";
}

.wk-icon_delete:before {
	content: "\e61a";
}

.wk-icon_minus:before {
	content: "\e61b";
}

.wk-icon_plus:before {
	content: "\e61c";
}

.wk-icon_climb:before {
	content: "\e613";
}

.wk-icon_downhill:before {
	content: "\e614";
}

.wk-icon_parasuit:before {
	content: "\e615";
}

.wk-icon_raft2:before {
	content: "\e616";
}

.wk-icon_swissknife:before {
	content: "\e617";
}

.wk-icon_tent:before {
	content: "\e618";
}

.wk-icon_all:before {
	content: "\e600";
}

.wk-icon_arrleft:before {
	content: "\e601";
}

.wk-icon_arrright:before {
	content: "\e602";
}

.wk-icon_bino:before {
	content: "\e603";
}

.wk-icon_boot:before {
	content: "\e604";
}

.wk-icon_facebook:before {
	content: "\e605";
}

.wk-icon_google:before {
	content: "\e606";
}

.wk-icon_grid:before {
	content: "\e607";
}

.wk-icon_list:before {
	content: "\e608";
}

.wk-icon_mark:before {
	content: "\e609";
}

.wk-icon_mount:before {
	content: "\e60a";
}

.wk-icon_phone:before {
	content: "\e60b";
}

.wk-icon_raft:before {
	content: "\e60c";
}

.wk-icon_rss:before {
	content: "\e60d";
}

.wk-icon_search:before {
	content: "\e60e";
}

.wk-icon_sign:before {
	content: "\e60f";
}

.wk-icon_star:before {
	content: "\e610";
}

.wk-icon_trek:before {
	content: "\e611";
}

.wk-icon_twitter:before {
	content: "\e612";
}

