/*-----------------------------------------------------------------------------
-Waituk Template-

Screen Stylesheet

date:      	23/03/13
author:		waituk
initial wk
----------------------------------*/
/*-----------------------------------------------------------------------------
-	Trekma -

Screen Stylesheet

date:      	23/03/13
author:		waituk
changes mad

line number 110: @icon-font-path:          "../../vendor/bootstrap/fonts/";
----------------------------------*/
/*****************Typography********************/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,700,900,800,300,200,500);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700);
/*
@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px
*/
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand,
.nav-bar,
.nav-bar a {
  font-family: 'Montserrat', sans-serif;
}
.navbar-brand {
  font-weight: bold;
}
/*****************Font sizes overrides for bootstrap********************/
h1 {
  font-size: 2.6em;
}
h2 {
  font-size: 2.15em;
}
h3 {
  font-size: 1.7em;
}
h4 {
  font-size: 1.125em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.85em;
}
p {
  line-height: 1.6em;
}
h2.product-title {
  font-size: 3em;
}
.wk-light {
  /*****************Base********************/
  /*icon font wkfonts*/
  background: #ffffff;
  color: #7d7d7d;
  /*rate stars*/
  /*extra caret defined*/
  /*extra caret defined ends*/
  /*header ends*/
  /*****************Footer********************/
  /*****************All Buttons********************/
  /*****************Social icons********************/
  /*****************Partner********************/
  /*****************All waypoint********************/
  /*How  .wp1, .wp2 .. gebnerated generate is only mixin nothing to do with waypoint library
generates
.wp1{
    visibility: hidden;
}
.wp2{
    visibility: hidden;
}...
*/
  /**********form**********/
  /*wk-feature-pro*/
  /*****************Homepage********************/
  /*for parrallax*/
  /*****************Typejs-Home********************/
  /*****************Home-Search********************/
  /*****************Section Defination********************/
  /*wk-mid-feature*/
  /*****************Section Defination********************/
  /*****************About section********************/
  /*wk-news*/
  /*wk-news*/
  /*wk-newsletter*/
  /*wk-newsletter*/
  /*****************Testimonial********************/
  /*****************customize for owl carousel********************/
  /*****************Medium Screeen********************/
  /*****************Small Screeen********************/
}
@font-face {
  font-family: 'wkfont';
  src: url('../font/wkfont/fonts/wkfont.eot?-3unpd4');
  src: url('../font/wkfont/fonts/wkfont.eot?#iefix-3unpd4') format('embedded-opentype'), url('../font/wkfont/fonts/wkfont.woff?-3unpd4') format('woff'), url('../font/wkfont/fonts/wkfont.ttf?-3unpd4') format('truetype'), url('../font/wkfont/fonts/wkfont.svg?-3unpd4#wkfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
.wk-light a {
  color: #3a3b3c;
  cursor: pointer;
  outline: none;
}
.wk-light a:hover,
.wk-light a:focus {
  text-decoration: none;
  outline: none;
}
.wk-light hr.dark {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.wk-light .wk-center,
.wk-light .pull-center {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.wk-light .tooltip-inner {
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
.wk-light .wk-icon {
  font-size: 25px;
  vertical-align: middle;
  margin-right: 5px;
}
.wk-light .wk-load {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 99999;
}
.wk-light .wk-rate .wk-icon {
  font-size: 14px;
  color: #ffffff;
}
.wk-light .wk-rate .wk-icon.on {
  color: #e8b800;
}
.wk-light .caret-up {
  width: 0;
  height: 0;
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}
.wk-light .caret-right {
  width: 0;
  height: 0;
  border-top: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  border-left: 4px solid;
  vertical-align: middle;
  position: absolute;
  right: 10px;
  top: 12px;
}
.wk-light header.wk-nav {
  width: 100%;
  border-bottom: 1px solid #ffffff;
  z-index: 99;
}
.wk-light header.wk-nav .navbar-brand {
  padding: 0 35px;
  border-right: 1px solid #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  vertical-align: middle;
}
.wk-light header.wk-nav .navbar-brand:hover {
  color: #3a3b3c;
}
.wk-light header.wk-nav .navbar-brand img {
  height: 28px;
  margin: 36px 0;
}
.wk-light header.wk-nav .navbar {
  border: none;
}
.wk-light header.wk-nav .nav {
  float: right;
  margin-right: 20px;
  font-family: 'Raleway', sans-serif;
}
.wk-light header.wk-nav .nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  line-height: 30px;
}
.wk-light header.wk-nav .nav > li > a {
  padding: 0 10px;
  border-radius: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.wk-light header.wk-nav .nav > li.open {
  /*li.open*/
}
.wk-light header.wk-nav .nav > li.open a.dropdown-toggle,
.wk-light header.wk-nav .nav > li.open a:focus,
.wk-light header.wk-nav .nav > li.open a:hover {
  background: transparent;
  /*for wk-megamenu, wksubmenu*/
}
.wk-light header.wk-nav .nav > li.open a.btn-base {
  line-height: 40px;
  height: 40px;
  padding: 0 15px;
}
.wk-light header.wk-nav .nav > li.open a.btn-base:hover {
  background: #212222;
}
.wk-light header.wk-nav .nav > li.wk-submenu,
.wk-light header.wk-nav .nav > li.wk-megamenu,
.wk-light header.wk-nav .nav > li.wk-halfmenu {
  text-transform: uppercase;
}
.wk-light header.wk-nav .nav > li.wk-submenu > a,
.wk-light header.wk-nav .nav > li.wk-megamenu > a,
.wk-light header.wk-nav .nav > li.wk-halfmenu > a {
  height: 80px;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.wk-light header.wk-nav .nav > li.wk-submenu .dropdown-menu,
.wk-light header.wk-nav .nav > li.wk-megamenu .dropdown-menu,
.wk-light header.wk-nav .nav > li.wk-halfmenu .dropdown-menu {
  border: none;
  padding: 15px 0px;
  background: rgba(58, 59, 60, 0.9);
  color: #ffffff;
  letter-spacing: .06em;
  font-size: .8em;
}
.wk-light header.wk-nav .nav > li.wk-submenu .dropdown-menu a,
.wk-light header.wk-nav .nav > li.wk-megamenu .dropdown-menu a,
.wk-light header.wk-nav .nav > li.wk-halfmenu .dropdown-menu a {
  color: rgba(255, 255, 255, 0.7);
}
.wk-light header.wk-nav .nav > li.wk-submenu .dropdown-menu a:hover,
.wk-light header.wk-nav .nav > li.wk-megamenu .dropdown-menu a:hover,
.wk-light header.wk-nav .nav > li.wk-halfmenu .dropdown-menu a:hover {
  color: #ffffff;
}
.wk-light header.wk-nav .nav > li.wk-submenu .dropdown-menu h5,
.wk-light header.wk-nav .nav > li.wk-megamenu .dropdown-menu h5,
.wk-light header.wk-nav .nav > li.wk-halfmenu .dropdown-menu h5 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 0px;
  padding-bottom: 10px;
}
.wk-light header.wk-nav .nav > li.wk-submenu .dropdown-menu img,
.wk-light header.wk-nav .nav > li.wk-megamenu .dropdown-menu img,
.wk-light header.wk-nav .nav > li.wk-halfmenu .dropdown-menu img {
  width: 100%;
  margin-bottom: 15px;
}
.wk-light header.wk-nav .nav > li.wk-submenu .dropdown-menu ul,
.wk-light header.wk-nav .nav > li.wk-megamenu .dropdown-menu ul,
.wk-light header.wk-nav .nav > li.wk-halfmenu .dropdown-menu ul {
  margin-bottom: 15px;
}
.wk-light header.wk-nav .nav > li.wk-megamenu {
  position: static;
}
.wk-light header.wk-nav .nav > li.wk-megamenu .dropdown-menu {
  padding: 15px 20px;
  right: 0;
  left: 0;
  border: none;
  border-radius: 0px;
}
.wk-light header.wk-nav .nav > li.wk-halfmenu {
  position: relative;
}
.wk-light header.wk-nav .nav > li.wk-halfmenu .dropdown-menu {
  width: 400px;
  right: 0;
  left: 0;
  border-radius: 0px;
}
.wk-light header.wk-nav .nav > li.wk-submenu {
  /*infinity sub-nav*/
}
.wk-light header.wk-nav .nav > li.wk-submenu .dropdown-menu {
  padding: 10px 0px 5px;
  border: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  width: 200px;
}
.wk-light header.wk-nav .nav > li.wk-submenu .dropdown-menu ul {
  background: rgba(58, 59, 60, 0.9);
  display: none;
  width: 230px;
  margin: 0px;
  list-style: none;
  position: absolute;
  top: 0px;
  left: 200px;
}
.wk-light header.wk-nav .nav > li.wk-submenu .dropdown-menu li {
  position: relative;
}
.wk-light header.wk-nav .nav > li.wk-submenu .dropdown-menu li:hover > ul {
  display: block;
}
.wk-light header.wk-nav .nav > li.wk-submenu .dropdown-menu li.open > a,
.wk-light header.wk-nav .nav > li.wk-submenu .dropdown-menu li.open > a:hover,
.wk-light header.wk-nav .nav > li.wk-submenu .dropdown-menu li.open > a:focus {
  background: none;
}
.wk-light header.wk-nav .nav > li.wk-submenu .dropdown-menu a {
  position: relative;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}
.wk-light header.wk-nav.normal {
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.wk-light header.wk-nav.normal .navbar-brand {
  height: 99px;
  line-height: 99px;
  color: #ffffff;
  font-size: 2.25em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.wk-light header.wk-nav.normal .nav > li > a {
  margin: 30px 0;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  font-size: 1em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.wk-light header.wk-nav.normal .nav > li > a:focus {
  background: transparent;
  color: #ffffff;
}
.wk-light header.wk-nav.normal .nav > li > a:hover {
  background: transparent;
  /*to overrite bootstrap*/
  color: #3a3b3c;
}
.wk-light header.wk-nav.fixed {
  background: #ffffff;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 999;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-shadow: 0 0 3px rgba(58, 59, 60, 0.3);
  -moz-box-shadow: 0 0 3px rgba(58, 59, 60, 0.3);
  box-shadow: 0 0 3px rgba(58, 59, 60, 0.3);
}
.wk-light header.wk-nav.fixed .navbar-brand {
  height: 50px;
  line-height: 50px;
  border-right: none;
  color: #3a3b3c;
  font-size: 1.4em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.wk-light header.wk-nav.fixed .nav > li > a {
  margin: 0px;
  height: 50px;
  line-height: 50px;
  color: #3a3b3c;
  font-size: .8em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.wk-light header.wk-nav.fixed .nav > li > a:focus {
  background: transparent;
  color: #000000;
}
.wk-light header.wk-nav.fixed .nav > li > a:hover {
  background: transparent;
  /*to overrite bootstrap*/
  color: #000000;
}
.wk-light footer {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM3ZDdkN2QiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjN2Q3ZDdkIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzRjNGM0YyIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNGM0YzRjIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjbGVzc2hhdC1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
  background-image: -webkit-linear-gradient(left, #7d7d7d 0%, #7d7d7d 50%, #4c4c4c 51%, #4c4c4c 100%);
  background-image: -moz-linear-gradient(left, #7d7d7d 0%, #7d7d7d 50%, #4c4c4c 51%, #4c4c4c 100%);
  background-image: -o-linear-gradient(left, #7d7d7d 0%, #7d7d7d 50%, #4c4c4c 51%, #4c4c4c 100%);
  background-image: linear-gradient(to right, #7d7d7d 0%, #7d7d7d 50%, #4c4c4c 51%, #4c4c4c 100%);
  color: #ffffff;
  line-height: 1.6em;
  font-size: .9em;
  position: relative;
  z-index: 9;
}
.wk-light footer .row > div {
  display: table-cell;
  float: none;
  vertical-align: top;
}
.wk-light footer .wk-center-footer,
.wk-light footer .wk-about-us,
.wk-light footer .wk-contact-us {
  padding-top: 40px;
  padding-bottom: 50px;
}
.wk-light footer .wk-center-footer {
  background: #656565;
}
.wk-light footer p {
  font-size: .8em;
}
.wk-light footer a {
  color: #ffffff;
}
.wk-light footer a:hover {
  color: #ffffff;
}
.wk-light footer .wk-foot-txt {
  margin-bottom: 15px;
  line-height: 1.6em;
}
.wk-light footer ul {
  margin: 15px 0px 0px;
  padding: 0px;
  list-style: none;
}
.wk-light footer ul li {
  margin-bottom: 10px;
}
.wk-light footer ul li.wk-big-txt {
  font-size: 1.2em;
}
.wk-light footer ul li .wk-icon {
  font-size: 30px;
  margin-right: 10px;
  color: #ffffff;
}
.wk-light footer .wk-social {
  display: table;
  margin: 50px auto 0px;
}
.wk-light footer .wk-social .wk-icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 1em;
  margin-bottom: 15px;
  margin-right: 10px;
  font-size: 24px;
  color: #ffffff;
  border-color: #ffffff;
}
.wk-light footer .wk-social .wk-icon.wk-icon_rss {
  margin-right: 0px;
}
.wk-light footer .wk-copy {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #000;
  font-size: .8em;
}
.wk-light footer .wk-copy span {
  font-size: 1.6em;
  position: relative;
  top: 2px;
}
.wk-light .btn {
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 5px 15px;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
}
.wk-light .btn .wk-icon {
  font-size: 12px;
}
.wk-light .btn.btn-brand {
  color: #7d7d7d;
  border: 2px solid #7d7d7d;
}
.wk-light .btn.btn-brand:hover,
.wk-light .btn.btn-brand:focus {
  background: transparent;
}
.wk-light .btn.btn-mid {
  background: transparent;
  color: #7d7d7d;
  border: 1px solid #7d7d7d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.wk-light .btn.btn-mid:hover,
.wk-light .btn.btn-mid:focus {
  background: transparent;
}
.wk-light .btn.btn-dark {
  background: #2d2e2f;
  color: #fff;
}
.wk-light .btn.btn-dark:hover,
.wk-light .btn.btn-dark:focus {
  background: #141515;
}
.wk-light .btn.btn-contrast {
  background: #f2f2f2;
  color: #000000;
  border: 1px solid #e6e6e6;
}
.wk-light .btn.btn-contrast:hover,
.wk-light .btn.btn-contrast:focus {
  background: #ffffff;
}
.wk-light .wk-social {
  margin-bottom: 15px;
}
.wk-light .wk-social .wk-icon {
  display: inline-block;
  color: #7d7d7d;
  text-align: center;
  border: 1px solid #7d7d7d;
  padding: 5px;
  font-size: 14px;
  margin-right: 10px;
}
.wk-light .wk-social .wk-icon:hover,
.wk-light .wk-social .wk-icon:focus {
  text-decoration: none;
}
.wk-light .wk-partner.owl-carousel .owl-item img {
  width: auto;
  display: inline-block;
}
.wk-light .wp-1 {
  visibility: hidden;
}
.wk-light .delay-1 {
  animation-delay: 0.2s;
}
.wk-light .delay-2 {
  animation-delay: 0.4s;
}
.wk-light .delay-3 {
  animation-delay: 0.6s;
}
.wk-light .delay-4 {
  animation-delay: 0.8s;
}
.wk-light .delay-5 {
  animation-delay: 1s;
}
.wk-light .delay-6 {
  animation-delay: 1.2s;
}
.wk-light .delay-7 {
  animation-delay: 1.4s;
}
.wk-light .delay-8 {
  animation-delay: 1.6s;
}
.wk-light .pulse,
.wk-light .flipInX,
.wk-light .fadeIn,
.wk-light .bounceInLeft,
.wk-light .bounceInRight,
.wk-light .fadeInUp,
.wk-light .fadeInUpDelay,
.wk-light .fadeInDown,
.wk-light .fadeInUp .fadeInLeft,
.wk-light .fadeInRight,
.wk-light .bounceInDown {
  visibility: visible;
}
.wk-light .form-control {
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
}
.wk-light .form-control:focus {
  border-color: rgba(58, 59, 60, 0.5);
  box-shadow: none;
  outline: 0 none;
}
.wk-light .form-mid {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  display: block;
  background: transparent;
  border-color: #7d7d7d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
}
.wk-light .form-mid:focus {
  border-color: #7d7d7d;
  box-shadow: none;
  outline: 0 none;
}
.wk-light .wk-feature-pro {
  overflow: hidden;
  padding-bottom: 0px;
}
.wk-light .wk-feature-pro .col-md-3 > a > div {
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  border: 1px solid rgba(125, 125, 125, 0.15);
}
.wk-light .wk-feature-pro .col-md-3 .wk-pro-desc {
  visibility: hidden;
  width: 100%;
  height: 100%;
  padding: 30px 15px 60px;
  color: #ffffff;
  background: rgba(58, 59, 60, 0.8);
  position: absolute;
  top: 100%;
  left: 0px;
  cursor: pointer;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.wk-light .wk-feature-pro .col-md-3 .wk-pro-desc .wk-job {
  font-size: .8em;
  margin-bottom: 20px;
}
.wk-light .wk-feature-pro .col-md-3 .wk-pro-desc p {
  font-size: .85em;
}
@media (min-width: 1020px) and (max-width: 1250px) {
  .wk-light .wk-feature-pro .col-md-3 .wk-pro-desc p {
    display: none;
  }
}
.wk-light .wk-feature-pro .col-md-3 .wk-pro-desc .wk-foot {
  height: 60px;
  padding: 15px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.wk-light .wk-feature-pro .col-md-3 .wk-pro-desc .wk-foot a.wk-icon {
  color: #ffffff;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.wk-light .wk-feature-pro .col-md-3 .wk-pro-desc .wk-foot a.wk-icon:hover {
  color: rgba(255, 255, 255, 0.7);
}
.wk-light .wk-feature-pro .col-md-3 .wk-pro-desc.fadeInUp {
  display: block;
}
.wk-light .wk-feature-pro .col-md-3:hover .wk-pro-desc {
  visibility: visible;
  top: 0;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.wk-light .wk-banner {
  padding: 80px  0;
  text-align: center;
  background: #ffffff;
  color: #7d7d7d;
}
.wk-light .wk-banner p {
  font-size: 1.875em;
}
.wk-light .wk-main-parallax {
  margin: 0px;
  background-image: url('../img/parallax.jpg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-color: #ffffff;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
.wk-light .wk-main-parallax .wk-home-component {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.wk-light .wk-main-parallax .wk-image-txt {
  width: 100%;
  height: 300px;
  color: #7d7d7d;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-top: -190px;
}
.wk-light .wk-main-parallax .wk-image-txt em {
  font-size: 2em;
  font-family: 'Playfair Display', serif;
}
.wk-light .wk-main-parallax .wk-image-txt h1 {
  font-size: 5em;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  margin: 20px 0px 40px;
}
.wk-light .wk-main-parallax .wk-image-txt a {
  display: inline-block;
  font-size: 1em;
  height: 60px;
  line-height: 60px;
  padding: 0 25px;
}
.wk-light .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wk-light .wk-home-search {
  width: 100%;
  padding: 50px 0 35px;
  min-height: 40px;
  background: rgba(58, 59, 60, 0.9);
  position: absolute;
  bottom: 0px;
}
.wk-light .wk-home-search .col-md-3,
.wk-light .wk-home-search .col-md-2 {
  margin-bottom: 15px;
}
.wk-light .wk-home-search .dropdown button {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: transparent;
  border: 1px solid #ffffff;
  -webkit-border-radius: 1px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1px;
  -moz-background-clip: padding;
  border-radius: 1px;
  background-clip: padding-box;
  color: #ffffff;
  text-align: left;
  padding: 0 20px;
  font-size: 1em;
  padding: 0 10px 0 20px;
}
.wk-light .wk-home-search .dropdown button .wk-icon {
  float: right;
  margin-top: 5px;
}
.wk-light .wk-home-search .dropdown .dropdown-menu {
  width: 100%;
  -webkit-border-radius: 1px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1px;
  -moz-background-clip: padding;
  border-radius: 1px;
  background-clip: padding-box;
  background: #353637;
  padding: 0px;
}
.wk-light .wk-home-search .dropdown .dropdown-menu li {
  padding: 0px 20px;
  height: 40px;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.wk-light .wk-home-search .dropdown .dropdown-menu li:hover,
.wk-light .wk-home-search .dropdown .dropdown-menu li:focus {
  background: #212222;
}
.wk-light .wk-home-search input[type='text'] {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: transparent;
  border: 1px solid #ffffff;
  -webkit-border-radius: 1px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1px;
  -moz-background-clip: padding;
  border-radius: 1px;
  background-clip: padding-box;
  color: #ffffff;
  text-align: left;
  padding: 0 20px;
  font-size: 1em;
}
.wk-light .wk-home-search input[type='text']::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.wk-light .wk-home-search input[type='text']:-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.wk-light .wk-home-search input[type='text']::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.wk-light .wk-home-search input[type='text']:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.wk-light .wk-home-search input[type='text']:hover,
.wk-light .wk-home-search input[type='text']:focus {
  box-shadow: none;
}
.wk-light .wk-home-search input[type='submit'] {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: transparent;
  border: 1px solid #ffffff;
  -webkit-border-radius: 1px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1px;
  -moz-background-clip: padding;
  border-radius: 1px;
  background-clip: padding-box;
  color: #ffffff;
  text-align: left;
  padding: 0 20px;
  font-size: 1em;
  text-align: center;
  padding: 0 10px;
}
.wk-light .wk-home-search input[type='submit']:hover,
.wk-light .wk-home-search input[type='submit']:focus {
  background: #212222;
  box-shadow: none;
}
.wk-light .wk-section-title {
  text-align: center;
  width: 80%;
  margin: 0 auto 0px;
  color: #3a3b3c;
}
.wk-light .wk-section-title h3 {
  font-size: 3em;
  padding: 0 15px 20px;
  font-weight: bold;
  line-height: 1.6em;
  position: relative;
  margin-bottom: 55px;
}
.wk-light .wk-section-title h3:after {
  width: 30px;
  content: "";
  border-top: 5px solid #3a3b3c;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -15px;
}
.wk-light .wk-section-title h4 {
  font-size: 1.5em;
  padding: 0 15px 20px;
  font-weight: bold;
  line-height: 1.6em;
  position: relative;
  margin-bottom: 55px;
}
.wk-light .wk-section-title h4:after {
  width: 30px;
  content: "";
  border-top: 5px solid #3a3b3c;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -15px;
}
.wk-light .wk-section-title p {
  line-height: 1.6em;
  margin-bottom: 100px;
}
.wk-light .wk-section-title.left {
  text-align: left;
  margin: 0 0 50px;
  width: auto;
}
.wk-light .wk-section-title.left h3 {
  margin: 0;
  padding: 0 0 5px;
}
.wk-light .wk-section-title.left h3:after {
  display: none;
}
.wk-light section {
  background: #ffffff;
  padding: 100px 0;
  clear: both;
}
.wk-light section.wk-brand {
  clear: both;
  background: #3a3b3c;
  color: #000000;
}
.wk-light section.wk-brand h1,
.wk-light section.wk-brand h2,
.wk-light section.wk-brand h3 {
  color: #ffffff;
}
.wk-light section.wk-brand p {
  color: #ffffff;
}
.wk-light section.wk-dark {
  background: #3a3b3c;
}
.wk-light section.wk-dark .wk-section-title {
  color: #ffffff;
}
.wk-light section.wk-dark .wk-section-title h3:after,
.wk-light section.wk-dark .wk-section-title h4:after {
  border-top: 5px solid #ffffff;
}
.wk-light .wk-mid-feature .col-md-3 {
  text-align: center;
  margin-bottom: 110px;
}
.wk-light .wk-mid-feature .col-md-3 p {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0px;
}
.wk-light .wk-mid-feature .col-md-3 .wk-icon {
  height: 90px;
  width: 90px;
  font-size: 90px;
  margin: 0 auto 30px;
  color: #2d2e2f;
}
.wk-light .wk-mid-feature row.last .col-md-3 {
  margin-bottom: 30px;
}
.wk-light section {
  padding: 50px 0;
}
.wk-light section.wk-grey {
  background: #f8f8f8;
}
.wk-light section.wk-clear-btm {
  padding-bottom: 0px;
}
.wk-light section .wk-title {
  height: 50px;
  margin-bottom: 45px;
  border-bottom: 1px solid #7d7d7d;
  position: relative;
}
.wk-light section .wk-title h3.wk-h3 {
  display: inline-block;
  margin: 0px;
  font-size: 1.25em;
  height: 50px;
  padding-bottom: 10px;
}
.wk-light section .wk-title ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  float: right;
}
.wk-light section .wk-title ul li {
  display: inline-block;
  height: 50px;
  padding: 0 30px 10px 0;
  cursor: pointer;
}
.wk-light section .wk-title ul li:last-child {
  padding-right: 0px;
}
.wk-light section .wk-title ul li .wk-icon {
  display: none;
}
.wk-light section .wk-title hr {
  margin: 0px;
  border-top: 6px solid #7d7d7d;
  border-right: 1px solid #7d7d7d;
  position: absolute;
  bottom: 0px;
  pointer-events: none;
}
.wk-light section .wk-title.wk-right h3 {
  float: right;
}
.wk-light .wk-about blockquote {
  border-left: none;
  padding: 0px;
  font-size: 1.3em;
  margin-bottom: 30px;
}
.wk-light .wk-about cite {
  font-size: 1.125em;
  font-style: normal;
  display: block;
  clear: both;
  margin-top: 15px;
}
.wk-light .wk-news {
  margin-top: 80px;
}
.wk-light .wk-news .wk-news-list {
  position: relative;
  margin-bottom: 30px;
}
.wk-light .wk-news .wk-news-list img {
  width: 100%;
  margin-bottom: 15px;
}
.wk-light .wk-news .wk-news-list h4 {
  margin-bottom: 5px;
}
.wk-light .wk-news .wk-news-list .date,
.wk-light .wk-news .wk-news-list .author {
  font-size: .8em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.wk-light .wk-news .wk-news-list .date .wk-icon,
.wk-light .wk-news .wk-news-list .author .wk-icon {
  font-size: 18px;
}
.wk-light .wk-news .wk-news-list .date {
  padding-right: 10px;
}
.wk-light .wk-news .wk-news-list .author {
  padding-left: 10px;
}
.wk-light .wk-news .wk-news-list p {
  padding-top: 15px;
}
.wk-light .wk-lc-search {
  min-height: 800px;
  padding: 0;
  /*if stellar js parallax background is use padding and margin must be 0*/
  background-image: url('../img/location_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #f8f8f8;
  overflow: hidden;
  position: relative;
  /*tab*/
}
.wk-light .wk-lc-search a {
  color: #f8f8f8;
}
.wk-light .wk-lc-search .container {
  position: relative;
  top: 100px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.wk-light .wk-lc-search .wk-title {
  border-bottom: 1px solid #f8f8f8;
  margin-bottom: 80px;
}
.wk-light .wk-lc-search .wk-title ul {
  float: none;
  font-size: 1.125em;
  text-transform: uppercase;
  font-weight: bold;
  height: 40px;
}
.wk-light .wk-lc-search .wk-title ul li {
  padding: 0 15px 0 0;
}
.wk-light .wk-lc-search .wk-title hr {
  border-top: 6px solid #f8f8f8;
  border-right: 1px solid #f8f8f8;
}
.wk-light .wk-lc-search .wk-top {
  margin-bottom: 100px;
}
.wk-light .wk-lc-search .wk-bordered {
  width: 100%;
  margin: 1px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 0.8em;
}
.wk-light .wk-lc-search .wk-bordered td {
  height: 30px;
  border: 1px solid #f8f8f8;
  text-align: center;
  padding: 0 10px;
  margin-bottom: 3px;
}
.wk-light .wk-lc-search .wk-compass {
  height: 70px;
  width: 70px;
  position: relative;
  float: right;
  background: url('../img/compass.png') no-repeat center center;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
.wk-light .wk-lc-search .btn-brand {
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 0 50px;
  height: 60px;
  line-height: 60px;
}
.wk-light .wk-lc-search .wk-txt-box {
  border: 1px solid #f8f8f8;
  padding: 20px 15px;
  line-height: 1.6em;
}
.wk-light .wk-lc-search .wk-txt-box h4 {
  line-height: 1.4em;
  margin: 0px;
}
.wk-light .wk-lc-search .wk-txt-box p {
  font-size: .8em;
  margin: 30px 0;
}
.wk-light .wk-lc-search .wk-txt-box a {
  font-weight: bold;
  font-size: 1.125em;
  text-transform: uppercase;
}
.wk-light .wk-lc-search .wk-tab-pane {
  display: none;
}
.wk-light .wk-lc-search .wk-tab-pane.active {
  display: block;
}
.wk-light .wk-newsletter .wk-title {
  margin-bottom: 0;
  border-bottom: none;
}
.wk-light .wk-newsletter .wk-for-border {
  border-bottom: 1px solid #7d7d7d;
}
.wk-light .wk-newsletter .wk-h3 {
  border-bottom: 6px solid #7d7d7d;
}
.wk-light .wk-newsletter .form-mid,
.wk-light .wk-newsletter .btn-mid {
  width: 100%;
  text-align: center;
  font-weight: normal;
  height: 32px;
  font-size: 1em;
  color: #7d7d7d;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}
.wk-light .wk-newsletter .form-mid::-webkit-input-placeholder,
.wk-light .wk-newsletter .btn-mid::-webkit-input-placeholder {
  color: #7d7d7d;
  opacity: 1;
}
.wk-light .wk-newsletter .form-mid:-moz-placeholder,
.wk-light .wk-newsletter .btn-mid:-moz-placeholder {
  color: #7d7d7d;
  opacity: 1;
}
.wk-light .wk-newsletter .form-mid::-moz-placeholder,
.wk-light .wk-newsletter .btn-mid::-moz-placeholder {
  color: #7d7d7d;
  opacity: 1;
}
.wk-light .wk-newsletter .form-mid:-ms-input-placeholder,
.wk-light .wk-newsletter .btn-mid:-ms-input-placeholder {
  color: #7d7d7d;
  opacity: 1;
}
.wk-light .wk-trek-guides .wk-main-title {
  margin-bottom: 30px;
}
.wk-light .wk-trek-guides .wk-guide {
  margin-bottom: 30px;
}
.wk-light .wk-trek-guides .wk-guide img {
  width: 100%;
}
.wk-light .wk-trek-guides .wk-guide .wk-name {
  margin-top: 20px;
}
.wk-light .wk-trek-guides .wk-guide p {
  font-size: .9em;
  line-height: 1.4em;
}
.wk-light .wk-trek-guides .wk-guide .wk-social {
  margin-top: 20px;
}
.wk-light .wk-testimonial .wk-quote {
  background: #f8f8f8;
  border-left: 0px;
  font-size: 1em;
}
.wk-light .wk-testimonial .wk-quote blockquote {
  border-left: 0px;
  font-size: 1em;
}
.wk-light .wk-testimonial .wk-quote img {
  max-width: 200px;
  margin: 0 auto;
}
.wk-light .wk-testimonial .wk-quote h5 {
  font-weight: bold;
  margin-bottom: 0px;
}
.wk-light .wk-testimonial .wk-quote .wk-name {
  border-bottom: 1px solid #7d7d7d;
  min-height: 40px;
  margin-bottom: 40px;
  overflow: hidden;
}
.wk-light .wk-testimonial .wk-quote .wk-name cite {
  display: inline-block;
  min-height: 40px;
  float: right;
  font-size: .9em;
  font-weight: bold;
  font-style: normal;
  border-bottom: 6px solid #7d7d7d;
}
.wk-light .wk-testimonial .wk-quote p {
  display: block;
}
.wk-light .owl-theme .owl-controls .owl-buttons {
  position: relative;
  top: -100px;
}
.wk-light .owl-theme .owl-controls .owl-buttons .owl-prev,
.wk-light .owl-theme .owl-controls .owl-buttons .owl-next {
  width: 40px;
  height: 20px;
  line-height: 20px;
  background: none;
  color: #000000;
  font-family: 'wkfont';
  font-size: 20px;
}
.wk-light .owl-theme .owl-controls .owl-buttons .owl-prev {
  position: absolute;
  left: 0px;
}
.wk-light .owl-theme .owl-controls .owl-buttons .owl-prev:before {
  content: "\e601";
}
.wk-light .owl-theme .owl-controls .owl-buttons .owl-next {
  position: absolute;
  right: 0px;
}
.wk-light .owl-theme .owl-controls .owl-buttons .owl-next:before {
  content: "\e602";
}
.wk-light .owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.wk-light .owl-theme .owl-nav [class*='owl-'] {
  color: white;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.wk-light .owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: white;
  text-decoration: none;
}
.wk-light .owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.wk-light .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.wk-light .owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.wk-light .owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.wk-light .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  border: 1px solid #7d7d7d;
  background: transparent;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.wk-light .owl-theme .owl-dots .owl-dot.active span,
.wk-light .owl-theme .owl-dots .owl-dot:hover span {
  background: rgba(125, 125, 125, 0.2);
}
@media (max-width: 992px) {
  .wk-light {
    font-size: 14px !important;
    /******************_header.less******************/
    /******************_home.less******************/
    /*wk-feature-pro*/
    /*****************Section Defination********************/
    /******************_footer.less******************/
  }
  .wk-light header.wk-nav .nav {
    margin-right: 0px;
  }
  .wk-light header.wk-nav.normal .navbar-brand {
    padding: 0 15px;
    font-size: 1.6em;
  }
  .wk-light header.wk-nav.normal .nav > li > a {
    font-size: .8em;
  }
  .wk-light header.wk-nav.fixed .navbar-brand {
    padding: 0 15px;
  }
  .wk-light header.wk-nav.fixed .nav > li > a {
    padding: 0 5px;
    font-size: .8em;
    color: #3a3b3c;
  }
  .wk-light header.wk-nav .nav .open > a,
  .wk-light header.wk-nav .nav .open > a:hover,
  .wk-light header.wk-nav .nav .open > a:focus {
    background: transparent;
  }
  .wk-light header.wk-nav .navbar-nav .open .dropdown-menu {
    background: #ffffff;
  }
  .wk-light header.wk-nav .wk-nav.navbar .navbar-collapse li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .wk-light .wk-feature-pro .col-md-3 {
    width: 33.33%;
  }
  .wk-light section .wk-title ul li {
    padding: 0 5px 10px;
  }
  .wk-light footer {
    background: #7d7d7d;
  }
  .wk-light footer .wk-foot-contact {
    margin-bottom: 30px;
  }
  .wk-light footer .row > div {
    display: block;
    float: none;
    vertical-align: top;
  }
}
@media (max-width: 768px) {
  .wk-light {
    /******************_header.less******************/
    /******************_home.less******************/
    /*_home-search.less*/
    /*_feature-pro.less*/
    /*_location-search.less*/
    /*****************_section.less********************/
    /******************_footer.less******************/
  }
  .wk-light header.wk-nav {
    height: 50px;
    border-bottom: 0px;
  }
  .wk-light header.wk-nav .navbar-toggle {
    margin: 8px 15px 0 0;
  }
  .wk-light header.wk-nav .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  .wk-light header.wk-nav.normal {
    height: 50px;
  }
  .wk-light header.wk-nav.normal .navbar-brand {
    height: 50px;
    line-height: 50px;
    border-right: 0;
  }
  .wk-light header.wk-nav.normal .nav > li > a {
    margin: 10px 0;
  }
  .wk-light header.wk-nav.normal .nav > li > a:focus,
  .wk-light header.wk-nav.normal .nav > li > a:hover {
    color: #ffffff;
  }
  .wk-light header.wk-nav.fixed .navbar-toggle {
    margin: 8px 15px;
  }
  .wk-light header.wk-nav.fixed .navbar-toggle .icon-bar {
    background-color: #3a3b3c;
  }
  .wk-light header.wk-nav.fixed .nav > li > a {
    color: #ffffff;
  }
  .wk-light header.wk-nav.fixed .nav > li > a:focus {
    color: #ffffff;
  }
  .wk-light header.wk-nav.fixed .nav > li > a:hover {
    color: #ffffff;
  }
  .wk-light header.wk-nav .navbar .navbar-header {
    display: block;
  }
  .wk-light header.wk-nav .navbar .nav {
    display: block;
    float: none;
    margin: 0;
  }
  .wk-light header.wk-nav .navbar .nav .dropdown-menu {
    margin: 0 -15px;
  }
  .wk-light header.wk-nav .navbar .nav .dropdown-menu a {
    line-height: 40px;
    height: 40px;
  }
  .wk-light header.wk-nav .navbar .nav .wk-submenu .dropdown-menu,
  .wk-light header.wk-nav .navbar .nav .wk-megamenu .dropdown-menu,
  .wk-light header.wk-nav .navbar .nav .wk-halfmenu .dropdown-menu {
    background: #2d2e2f;
  }
  .wk-light header.wk-nav .navbar .nav .wk-halfmenu .dropdown-menu {
    width: auto;
  }
  .wk-light header.wk-nav .navbar .nav .wk-submenu {
    /*infinity sub-nav*/
  }
  .wk-light header.wk-nav .navbar .nav .wk-submenu .dropdown-menu {
    width: auto;
  }
  .wk-light header.wk-nav .navbar .nav .wk-submenu .dropdown-menu li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .wk-light header.wk-nav .navbar .nav .wk-submenu .dropdown-menu li:last-child {
    border-bottom: none;
  }
  .wk-light header.wk-nav .navbar .nav .wk-submenu .dropdown-menu li:hover > ul {
    display: none;
  }
  .wk-light header.wk-nav .navbar .nav .wk-submenu .dropdown-menu li.open {
    height: auto;
  }
  .wk-light header.wk-nav .navbar .nav .wk-submenu .dropdown-menu li.open .caret-right {
    display: none;
  }
  .wk-light header.wk-nav .navbar .nav .wk-submenu .dropdown-menu li.open ul {
    display: block;
    position: relative;
    box-shadow: none;
    margin-left: 0px;
    padding-left: 30px;
    width: auto;
    left: 0;
    top: 0;
  }
  .wk-light header.wk-nav .navbar .nav .wk-submenu .dropdown-menu li.open ul.wk-show {
    display: block;
  }
  .wk-light header.wk-nav .navbar-collapse {
    background: rgba(58, 59, 60, 0.9);
  }
  .wk-light header.wk-nav .navbar-collapse li:last-child {
    border-bottom: 0px;
  }
  .wk-light header.wk-nav .navbar-collapse li li {
    border-bottom: 0px;
  }
  .wk-light .wk-main-img {
    background-size: auto 100%;
    padding: 50px 0 0;
  }
  .wk-light .wk-main-parallax {
    padding-bottom: 0px;
  }
  .wk-light .wk-main-parallax .wk-image-txt {
    margin-top: 0px;
  }
  .wk-light .wk-main-parallax .wk-image-txt em {
    font-size: 1.2em;
  }
  .wk-light .wk-main-parallax .wk-image-txt h1 {
    font-size: 3em;
    margin: 10px 0;
  }
  .wk-light .wk-main-parallax .wk-image-txt a {
    margin: 0  15px;
    font-size: 1em;
  }
  .wk-light .wk-home-search {
    padding: 15px 0;
  }
  .wk-light .wk-feature-pro .col-md-3 {
    width: 100%;
  }
  .wk-light .wk-feature-pro .col-md-3 .wk-pro-desc table td {
    display: block;
  }
  .wk-light .wk-feature-pro .col-md-3 .wk-pro-desc table td:last-child {
    text-align: left;
  }
  .wk-light .wk-lc-search {
    min-height: 950px;
  }
  .wk-light .wk-lc-search .container {
    top: 50px;
  }
  .wk-light .wk-lc-search .wk-title {
    font-size: .6em;
    margin-bottom: 20px;
  }
  .wk-light .wk-lc-search .wk-top {
    margin-bottom: 30px;
  }
  .wk-light .wk-lc-search .wk-compass {
    margin: 0  auto 25px;
    float: none;
  }
  .wk-light .wk-lc-search .btn-brand {
    display: block;
    margin-bottom: 15px;
    font-size: 1em;
  }
  .wk-light section {
    padding: 50px 0;
  }
  .wk-light section .wk-title ul {
    float: none;
    display: table;
    width: 100%;
    margin: 30px 15px 0 0;
  }
  .wk-light section .wk-title ul li {
    display: table-cell;
    height: 40px;
    padding: 0 0 10px;
    cursor: pointer;
    text-align: center;
  }
  .wk-light section .wk-title ul li .wk-text {
    display: none;
  }
  .wk-light section .wk-title ul li .wk-icon {
    display: block;
    font-size: 40px;
  }
  .wk-light section .wk-title hr {
    margin: 0px;
    border-top: 6px solid #7d7d7d;
    position: absolute;
    bottom: 0px;
    pointer-events: none;
  }
  .wk-light section .container-fuild.wk-dark .btn {
    margin-left: 0 auto;
  }
  .wk-light footer .col-sm-3 {
    margin-bottom: 50px;
  }
  .wk-light footer .wk-social {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=theme.css.map */