/*---------- 2.8  Banner ----------*/

.banner{
	padding: 80px 0 70px;
	text-align: center;
	.text-desc{
		margin-bottom: 20px;
		text-transform: uppercase;
	}
}

@media screen and (max-width: @screen-media-sm){

}