.support{
	.res-img{
		position: relative;
		img{
			height: 250px;
			width: auto;
		}
	}
}

.feature-benefit{
	text-align: center;
	border: 1px solid #ddd;
	overflow: hidden;
	.feature-benefit-list{
		border: 1px solid #ddd;
		padding: 30px;
		background: #fff;
		width: 25%;
		float: left;
		&.gray{
			background: #f2f2f2;

		}
		&.half{
			width: 50%;
		}
	}
	.fa{
		font-size: 30px;
		color: #999;
		@height: 80px;
		height: @height;
		line-height: @height;
		width: @height;
		display: inline-block;
		text-align: center;
		border-radius: @height;
		background: @sec-color;
		color: #fff;
	}
	h5{
		font-weight: bold;
		margin-top: 30px;
	}
	p{
		font-size: .9rem;
	}
}